@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");
.header {
  display: flex;
  margin-top: 15px;
  padding: 2px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
* {
  font-family: "Black Han Sans";

}
.header .title {
  font-size: 25px;
}
.header a {
  text-decoration: none;
  color: black;
}
.header .sort-search-container {
  display: flex;
  
  align-items: center;
  gap: 10px;
  -webkit-appearance: none;
  appearance: none;
}
hr{
    background-color: #ccc;
    height: inherit;
    width: 100%;
}

#sortList {
  
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--light-gray);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: var(--small);
  color: var(--gray);
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: border-radius: 10px;
  
 
  
}
#search input {
  padding: 10px 20px;
  font-size: var(--small);
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 200px;
}
#app {
  width: 100%;
}
body {
   width: 95%;
   margin: auto;

}  pa

.menu-list {
  width: 98%;
  margin: auto;

  min-height: 40px;
  padding: 10px;
}

.menu-list-container {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 8px;
}
.menu-list-item {
  box-shadow: 1px 1px 10px rgb(212, 212, 212);
  border-radius: 15px;

  text-align: center;
}
.menu-list-item:hover {
  transform: scale(1.08);
  transform-origin: center;
  transition: transform 150ms ease;
}

.menu-list-item img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 15px;
}
.menu-list-item div:first-of-type {
  font-size: 16px;
}
.menu-list-item div:last-of-type {
  font-size: 13px;
  font-weight: 100;

  margin-bottom: 0px;
}
.category {
  width: 98%;
  margin-left: 17px;
}
.category div {
  display: inline-block;
  justify-content: center;
  padding: 2px;
  
  border-radius: 10px;
  font-weight: 100;
  font-size: 13px;
  text-align: center;
}
.category div:hover{
    background-color: #eee;
}
div .clicked {
  background-color: #eee;
}
footer{
    font-weight: lighter;
    font-size: 10px;
    text-align: center;
    color: #ccc;
}